template(name='home')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content='You are brilliant. You are powerful. You are sophisticated. You are BORED. Free-to-play online multiplayer RoboRally!')
    meta(name='author', content='Marcel Panse')
    title RoboRally
    // Custom Fonts
    link(href='https://fonts.googleapis.com/css?family=Montserrat:400,700', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    // Navigation
    nav.navbar.navbar-default.navbar-fixed-top
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#page-top') RoboRally
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')
            li.page-scroll
              a(href='#online') Play online
    // Header
    header
      .container
        .row
          .col-lg-12
            .intro-text
              span.name RoboRally
              hr.star-light
              span.skills You are brilliant. You are powerful. You are sophisticated. You are BORED.
    // Online Section
    section#online
      .container
        .row
          .col-leg-12.text-center
            h2 Play online
            hr.star-primary
            p
              | Welcome at RoboRally online! RoboRally online is 100% free to play. This is an online version of the original board game from Wizards of the Coast.
              | RoboRally is a fun game full of chaos. It's all about programming your robots to pass checkpoints and seeing what happens next as they run into each other and lots of obstacles. Tons of fun.
              | This online version is created by a bunch of fans, just for fun. We hope you will enjoy it.
            br
            a(href="{{pathFor 'gamelist.page'}}").btn.btn-primary.btn-xlg Play RoboRally online!
            br
